# EMPLOYEE TURNOVER STUDY - figuring out who will quit

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,f1_score
%matplotlib inline

In [2]:
employee_hr_df =pd.read_csv('hr_data.csv')
employee_hr_df

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,1003,2,157,3,0,1,0,sales,low
1,1005,5,262,6,0,1,0,sales,medium
2,1486,7,272,4,0,1,0,sales,medium
3,1038,5,223,5,0,1,0,sales,low
4,1057,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...
14994,87670,2,151,3,0,1,0,support,low
14995,87673,2,160,3,0,1,0,support,low
14996,87679,2,143,3,0,1,0,support,low
14997,87681,6,280,4,0,1,0,support,low
14998,87684,2,158,3,0,1,0,support,low

In [3]:
empl_satis_eval = pd.read_excel('employee_satisfaction_evaluation.xlsx')
empl_satis_eval

       EMPLOYEE #  satisfaction_level  last_evaluation
0            1003                0.38             0.53
1            1005                0.80             0.86
2            1486                0.11             0.88
3            1038                0.72             0.87
4            1057                0.37             0.52
...           ...                 ...              ...
14994       87670                0.40             0.57
14995       87673                0.37             0.48
14996       87679                0.37             0.53
14997       87681                0.11             0.96
14998       87684                0.37             0.52

[14999 rows x 3 columns]

In [ ]:
employee_df = pd.merge(employee_hr_df,empl_satis_eval,)