## <font color=red> QUESTION.</font>
> #### <font color=red> I wish to find and replace words using python. How can I do that ? </font>

 ### Example 1
 
 Input = "Respected Sir,I wish to inform you that your subsciption has expired. Please recharge to continue uninterrupted service."
 
 Output = 'Respected Madam,I wish to inform you that your subsciption has expired. Please recharge to continue uninterrupted service.'

In [1]:
string1= 'Respected Sir, I wish to inform you that your subsciption has expired. Please recharge to continue uninterrupted service.'
string1

'Respected Sir, I wish to inform you that your subsciption has expired. Please recharge to continue uninterrupted service.'

In [2]:
string2 = string1.replace("Sir","Madam")
string2

'Respected Madam, I wish to inform you that your subsciption has expired. Please recharge to continue uninterrupted service.'

 ### Example 2

Input = "Mary is working in marketing section. She has to work from 9 am to 9 pm everyday. She reaches home only by 11 at night"
 
 Output = 'John is working in marketing section. He has to work from 9 am to 9 pm everyday. He reaches home only by 11 at night'

In [3]:
string3 = 'Mary is working in marketing section. She has to work from 9 am to 9 pm everyday. She reaches home only by 11 at night'
string3

'Mary is working in marketing section. She has to work from 9 am to 9 pm everyday. She reaches home only by 11 at night'

In [4]:
string4 =string3.replace("Mary","John")
string5 =string4.replace("She","He")
string5

'John is working in marketing section. He has to work from 9 am to 9 pm everyday. He reaches home only by 11 at night'

In [5]:
string6 =string3.replace("Mary","John").replace("She","He")
string6

'John is working in marketing section. He has to work from 9 am to 9 pm everyday. He reaches home only by 11 at night'

 ### Example 3

Input = "Mary is working in marketing section. Mary has to work from 9 am to 9 pm everyday. Mary reaches home only by 11 at night"
 
 Output = 'John is working in marketing section. He has to work from 9 am to 9 pm everyday. He reaches home only by 11 at night'

In [6]:
string5 = 'Mary is working in marketing section. Mary has to work from 9 am to 9 pm everyday. Mary reaches home only by 11 at night'
string5

'Mary is working in marketing section. Mary has to work from 9 am to 9 pm everyday. Mary reaches home only by 11 at night'

In [7]:
string7 = string5.replace("mary","John",1).replace("mary","He")
string7

'Mary is working in marketing section. Mary has to work from 9 am to 9 pm everyday. Mary reaches home only by 11 at night'

# <font color =red> PYTHON PROGRAM #1 <font/>
 > ### <font color =red> Swap two variable values without using a third variable<font/>

In [8]:
a =float(input(''' Please note that output will be in float
Enter the value for variable a:'''))
b =float(input("Enter the value fo variable b:"))

 Please note that output will be in float
Enter the value for variable a: 4
Enter the value fo variable b: 6

In [9]:
a=a+b
a

10.0

In [10]:
b=a-b
b

4.0

In [11]:
a=a-b
a

6.0

In [12]:
print(f"value of a is:{a} and value of b is:{b}")

value of a is:6.0 and value of b is:4.0

In [13]:
import re

string = 'Happy Birthday'
pattern = 'py'
print(re.search(pattern, string).span()) ## this prints starting and end indices
print(re.search(pattern, string).span()[0]) ## this does what you wanted

(3, 5)
3

In [14]:
string[3:5]

'py'

In [15]:
string = "My name is Sreekanth R Shekar"
for i,j in enumerate(string):
    print(i,j)

0 M
1 y
2
3 n
4 a
5 m
6 e
7
8 i
9 s
10
11 S
12 r
13 e
14 e
15 k
16 a
17 n
18 t
19 h
20
21 R
22
23 S
24 h
25 e
26 k
27 a
28 r

In [16]:
string[11:15]

'Sree'

In [17]:
string[3:7]

'name'

In [18]:
name,address_line1, address_line2, district =string.split(",")

ValueError: not enough values to unpack (expected 4, got 1)

In [ ]:
name

In [ ]:
address_line1

In [ ]:
address_line2

In [ ]:
district

In [ ]:
address = "1 Hacker Way,Menlo Park,CA 94025"
for i in address.split(","):
    print(i)

In [ ]:
template =['address_line1', 'address_line2','address_line3']
template

In [ ]:
facebook_list = address.split(",")
facebook_list

In [ ]:
facebook_zip =zip(template,facebook_list)

In [ ]:
facebook_dict =dict(facebook_zip)
facebook_dict

In [ ]:
facebook_dict['address_line1']

In [ ]:
amithabh_bachchan_office_address ="AB Corp. Ltd.,A/102,Parimal Appartment,Off Juhu Lane,Andheri West,Mumbai,Maharashtra,India"

In [ ]:
for i in amithabh_bachchan_office_address.split(","):
    print(i)

In [ ]:
template2 =['name','address_line1',"address_line2","address_line3","address_line4","city","state","country"]

In [ ]:
AB_list =amithabh_bachchan_office_address.split(",")

In [ ]:
AB_zip =zip(template2,AB_list)
AB_dict =dict(AB_zip)

In [ ]:
AB_dict

In [ ]:
AB_dict['state']

In [ ]:
amitabh_res_address ='Jalsa, B/2, Kapol Housing Society, VL Mehta Road, Juhu, Mumbai – 400049, Maharashtra, India'
rajnikanth_res_address ='18, Raghava Veera Avenue, Poes Garden, Chennai, Tamil Nadu, India'

In [ ]:
name = 'Sreekanth'
country ='India'
print("My name is {1} and I live in {0}".format(country,name))

In [ ]:

print(f"My name is {name} and I live in {country}")

## <font color=red> QUESTION.</font>
> #### <font color=red> How to insert a variable inside a string? </font>

Let's say we have template as below:<br>
> <font color=blue>"Dear (Name), <br>
Your appointment has been booked on (date) at (time). Please make sure to reach 15 minutes before the appointed time." <font/> <br>

How can I add the name, date and time for different bookings using the same template?

In [20]:
print("Dear (Name),\nYour appointment has been booked on (date) at (time).Please make sure to reach 15 minutes before the appointed time." )

Dear (Name),
Your appointment has been booked on (date) at (time).Please make sure to reach 15 minutes before the appointed time.

In [22]:
print('''Dear (Name),
Your appointment has been booked on (date) at (time).
Please make sure to reach 15 minutes before the appointed time.''')

Dear (Name),
Your appointment has been booked on (date) at (time).
Please make sure to reach 15 minutes before the appointed time.

In [26]:
Name="Ms.Keerthi"
date="28th July,2020"
time="1:30 pm"

In [27]:
print(f'''Dear {Name},
Your appointment has been booked on {date} at {time}.
Please make sure to reach 15 minutes before the appointed time.''')

Dear Ms.Keerthi,
Your appointment has been booked on 28th July,2020 at 1:30 pm.
Please make sure to reach 15 minutes before the appointed time.

In [ ]:
f-strings, python version = 3.6+

In [31]:
print('''Dear {2},
Your appointment has been booked on {0} at {1}.
Please make sure to reach 15 minutes before the appointed time.'''.format(date,time,Name))

Dear Ms.Keerthi,
Your appointment has been booked on 28th July,2020 at 1:30 pm.
Please make sure to reach 15 minutes before the appointed time.