## <font color=red> QUESTION.</font>
> #### <font color=red> I wish to find and replace words using python. How can I do that ? </font>

 ### Example 1
 
 Input = "Respected Sir,I wish to inform you that your subsciption has expired. Please recharge to continue uninterrupted service."
 
 Output = 'Respected Madam,I wish to inform you that your subsciption has expired. Please recharge to continue uninterrupted service.'

In [26]:
string1= 'Respected Sir, I wish to inform you that your subsciption has expired. Please recharge to continue uninterrupted service.'
string1

'Respected Sir, I wish to inform you that your subsciption has expired. Please recharge to continue uninterrupted service.'

In [27]:
string2 = string1.replace("Sir","Madam")
string2

'Respected Madam, I wish to inform you that your subsciption has expired. Please recharge to continue uninterrupted service.'

 ### Example 2

Input = "Mary is working in marketing section. She has to work from 9 am to 9 pm everyday. She reaches home only by 11 at night"
 
 Output = 'John is working in marketing section. He has to work from 9 am to 9 pm everyday. He reaches home only by 11 at night'

In [28]:
string3 = 'Mary is working in marketing section. She has to work from 9 am to 9 pm everyday. She reaches home only by 11 at night'
string3

'Mary is working in marketing section. She has to work from 9 am to 9 pm everyday. She reaches home only by 11 at night'

In [29]:
string4 =string3.replace("Mary","John")
string5 =string4.replace("She","He")
string5

'John is working in marketing section. He has to work from 9 am to 9 pm everyday. He reaches home only by 11 at night'

In [30]:
string6 =string3.replace("Mary","John").replace("She","He")
string6

'John is working in marketing section. He has to work from 9 am to 9 pm everyday. He reaches home only by 11 at night'

 ### Example 3

Input = "Mary is working in marketing section. Mary has to work from 9 am to 9 pm everyday. Mary reaches home only by 11 at night"
 
 Output = 'John is working in marketing section. He has to work from 9 am to 9 pm everyday. He reaches home only by 11 at night'

In [31]:
string5 = 'Mary is working in marketing section. Mary has to work from 9 am to 9 pm everyday. Mary reaches home only by 11 at night'
string5

'Mary is working in marketing section. Mary has to work from 9 am to 9 pm everyday. Mary reaches home only by 11 at night'

In [32]:
string7 = string5.replace("mary","John",1).replace("mary","He")
string7

'Mary is working in marketing section. Mary has to work from 9 am to 9 pm everyday. Mary reaches home only by 11 at night'

# <font color =red> PYTHON PROGRAM #1 <font/>
 > ### <font color =red> Swap two variable values without using a third variable<font/>

In [33]:
a =float(input(''' Please note that output will be in float
Enter the value for variable a:'''))
b =float(input("Enter the value fo variable b:"))

 Please note that output will be in float
Enter the value for variable a: 34.6
Enter the value fo variable b: 90.86

In [34]:
a=a+b
a

125.46000000000001

In [35]:
b=a-b
b

34.60000000000001

In [36]:
a=a-b
a

90.86

In [37]:
print(f"value of a is:{a} and value of b is:{b}")

value of a is:90.86 and value of b is:34.60000000000001